@model CSCI213___Assignment_5.Song

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SongID" />
            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <input asp-for="SongName" class="form-control" />
                <span asp-validation-for="SongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformerID" class="control-label"></label>
                <input asp-for="PerformerID" class="form-control" />
                <span asp-validation-for="PerformerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SongPrice" class="control-label"></label>
                <input asp-for="SongPrice" class="form-control" />
                <span asp-validation-for="SongPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
